body {
    margin: 0;
    padding: 0;
    background:url(../image/fondo1.jpeg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box {
    width: 300px;
    height: 340px;
    background: #DDD9D9;
    color: rgb(15, 1, 1);
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(50%, -50%);
    box-sizing: border-box;
    padding: 20px 30px;
}

.avatar {
    width: 400px;
    height: 400px;
    position: s;
    margin-top: 100px;
    margin-left: 170px;
    top: 200px;
    left: calc(-50% - 20px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-weight: 22px;

}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;   
    display: block;
}

.login-box input {
    width: 230px;
    margin-bottom: 10px;
}

.login-box input[type="text"], 
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 30px; 
    color: black;
    font-size: 13px;
  }

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 30px;
    background: gray;
    color: black;
    font-size: 14px;
    border-radius: 20px;
}
  
.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkblue;
  }
  
    .login-box a:hover {
    color: #fff;
  }

  .carousel-wrapper {
    position: relative;
  
  }
  .carousel-wrapper .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    border: 1px solid #aaa;
  }
  .carousel-wrapper .carousel-item .arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: url("http://haloxp.com/codepen/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
  }
  .carousel-wrapper .carousel-item .arrow.arrow-prev {
    left: 0;
  }
  .carousel-wrapper .carousel-item item-1 img {
    position: absolute;
    margin-left: 10000000px;
  }
  .carousel-wrapper .carousel-item .arrow.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .carousel-wrapper .carousel-item.light {
    color: white;
  }
  .carousel-wrapper .carousel-item.light .arrow {
    background: url("http://haloxp.com/codepen/carousel-arrow-light.png") 50% 50% / 20px no-repeat;
  }
  @media (max-width: 480px) {
    .carousel-wrapper .carousel-item .arrow, .carousel-wrapper .carousel-item.light .arrow {
      background-size: 10px;
      background-position: 10px 50%;
   }
  }
  .carousel-wrapper [id^="target-item"] {
    display: none;
  }
  .carousel-wrapper .item-1 {
    z-index: 2;
    opacity: 1;
  }
  .carousel-wrapper *:target ~ .item-1 {
    opacity: 0;
  }
  .carousel-wrapper #target-item-1:target ~ .item-1 {
    opacity: 1;
  }
  .carousel-wrapper #target-item-2:target ~ .item-2, .carousel-wrapper #target-item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }