body {
    margin: 0;
    padding: 0;
    background: url(../img/fondo1.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.avatar {
  width: 300px;
  height: 300px;
  position: static;
  margin-top: 30px;
  margin-left: 100px;
  top: 200px;
  left: calc(-180% - 120px);
}

.nav-enlace {
  display: inline-block;
  background: transparent;
  color: black;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  color: darkblue;
}



.nav-enlace:hover {
  color: #fff;
}
.visitas {
    width: 800px;
    height: 300px;
    border: none;
    color: black;
    background-color: transparent;
    position: absolute;
    transform: translate(50%, -90%);
    padding: 20px 30px;
}

.nuevo-viaje{
    display: flex;
    /* justify-content: center; */
    background: slategray;
    color: snow;
    padding: 20px 180px;
    text-decoration: none;
    /* margin-left: 490px; */
    position: absolute;
}
.nuevo-viaje:hover{
    background: rgb(81, 201, 238);
}
nav{
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* .titulo{
    display: block;
    background: transparent;
    color: black;
    padding: 10px;
} */